.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/VV_prog.iml
.idea/workspace.xml
srec_utils/__pycache__/CRCCCITT.cpython-36.pyc
srec_utils/__pycache__/srecutils.cpython-36.pyc
VV_GUI/VV_fw_prog_cmdfile.tmp.jlink
VV_GUI/__pycache__/quick_gui.cpython-36.pyc
VV_GUI/__pycache__/resource_helper.cpython-36.pyc
VV_prog_CLI/__pycache__/VV_prog_CLI.cpython-36.pyc
VV_prog_CLI/build/VV_prog_CLI/Analysis-00.toc
VV_prog_CLI/build/VV_prog_CLI/base_library.zip
VV_prog_CLI/build/VV_prog_CLI/EXE-00.toc
VV_prog_CLI/build/VV_prog_CLI/PKG-00.pkg
VV_prog_CLI/build/VV_prog_CLI/PKG-00.toc
VV_prog_CLI/build/VV_prog_CLI/PYZ-00.pyz
VV_prog_CLI/build/VV_prog_CLI/PYZ-00.toc
VV_prog_CLI/build/VV_prog_CLI/xref-VV_prog_CLI.html
VV_prog_CLI/build/VV_prog_CLI/localpycos/pyimod01_os_path.pyc
VV_prog_CLI/build/VV_prog_CLI/localpycos/pyimod02_archive.pyc
VV_prog_CLI/build/VV_prog_CLI/localpycos/pyimod03_importers.pyc
VV_prog_CLI/build/VV_prog_CLI/localpycos/struct.pyo
VV_prog_CLI/dist/VV_prog_CLI
VV_prog_CLI/dist/VV_post_tasks.tmp.jlink
VV_prog_CLI/build/VV_prog_CLI/warn-VV_prog_CLI.txt
