.idea
srec_utils/__pycache__
VV_GUI/__pycache__
*.pyc
*.toc
*.zip
*.pyz
*.pkg
*.tmp.jlink
VV_GUI/__pycache__
VV_prog_CLI/__pycache__
VV_prog_CLI/build
VV_prog_CLI/dist
VV_GUI/build/irrigation_sensor_prog/Analysis-00.toc
VV_GUI/build/irrigation_sensor_prog/base_library.zip
VV_GUI/build/irrigation_sensor_prog/EXE-00.toc
VV_GUI/build/irrigation_sensor_prog/irrigation_sensor_prog.exe.manifest
VV_GUI/build/irrigation_sensor_prog/PKG-00.pkg
VV_GUI/build/irrigation_sensor_prog/PKG-00.toc
VV_GUI/build/irrigation_sensor_prog/PYZ-00.pyz
VV_GUI/build/irrigation_sensor_prog/PYZ-00.toc
VV_GUI/build/irrigation_sensor_prog/Tree-00.toc
VV_GUI/build/irrigation_sensor_prog/Tree-01.toc
VV_GUI/build/irrigation_sensor_prog/warn-irrigation_sensor_prog.txt
VV_GUI/build/irrigation_sensor_prog/xref-irrigation_sensor_prog.html
VV_GUI/dist/irrigation_sensor_prog.exe
VV_GUI/dist/irrigation_sensor_prog.zip
VV_GUI/__pycache__/quick_gui.cpython-38.pyc
VV_GUI/__pycache__/resource_helper.cpython-38.pyc
VV_GUI/__pycache__/quick_gui.cpython-38.pyc
VV_GUI/__pycache__/resource_helper.cpython-38.pyc
